/* Skeleton CSS */
p {
    margin:45px 0;
    padding:0;
}
#module_container {
    margin:0 20px;
}
.module {
    position:relative;
}
input[type="text"] {
    display:block;
    margin:5px 0;
}

textarea {
    width:10.5em;
}


button {
    cursor:pointer;
}
.formWrap {
    background: #ccc;
    padding: 10px;
    width: 10.7em;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
}
.error {
    background:#bf0000;
}
